---
import Base from "./Base.astro";
import Header from "~/components/Header.astro";
import Footer from "~/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  path: string;
  type?: "website" | "article";
  publishedTime?: string;
}

const props = Astro.props;
---

<Base {...props}>
  <Header currentPath={Astro.url.pathname} />
  <main id="main">
    <slot />
  </main>
  <Footer />
</Base>
